.SearchBar_Container {
  margin: auto;
  flex-grow: 2;
  display: flex;
  height: 2rem;
}

.SearchBar_Container2 {
  margin: auto;
}

.search_div {
  display: flex;
  margin: auto;
  position: relative;
  z-index: 91;
}

.iBox_SearchBar {
  background-color: var(--bg-color);
  width: 30rem;
  border: 1px solid var(--border-color);
  color: var(--text-primary);
  font-size: large;
  padding: 0.2rem;
  height: 2rem;
  padding-left: 2rem;
  border-radius: 20px 0 0 20px;
}

.searchIcon_SearchBar {
  cursor: pointer;
  padding: 0.75rem;
  width: 2rem;
  border-radius: 0 20px 20px 0;
  background-color: var(--hover-bg);
  color: var(--text-primary);
  border: 1px solid var(--border-color);
  border-left: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchIcon_SearchBar:hover {
  background-color: var(--border-color);
}

.Mic_SearchBar {
  border-radius: 100%;
  padding: 0.5rem;
  background-color: var(--hover-bg);
  color: var(--text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}

.vid_bell_Navbar {
  color: var(--text-primary);
  margin: auto 0.7rem;
  cursor: pointer;
}